.cta-button {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    width: fit-content;
    margin-bottom: 0px;
    outline-style: none;
    cursor: pointer;

}
  
.cta-button-inner {
    border-radius: 20px;
    background-color: #C49686;
    color:#F0E9E3;
    padding: 11px 23px;
    font-size: 20px;
    font-family: Comfortaa;
    margin-bottom: 0px;
    border: 0px;
    cursor: pointer;
}

.cta-button-inner:hover {
    background-color: #F0E9E3;
    color: #C49686;
    box-shadow: 0px 0px 10px 2px #786761;
    transition-duration: 0.2s;
    font-size: 20px;
    font-family: Comfortaa;
    margin-bottom: 0px;
    cursor: pointer;
}

.new-button {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 25px;
    cursor: pointer;
}



/* .cta-button-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 0;
    width: fit-content;
    bottom: 0px;
} */
  
.cta-button-inner-2 {
    border-radius: 20px;
    background-color: #C49686;
    color:#F0E9E3;
    padding: 11px 23px;
    font-size: 20px;
    font-family: Comfortaa;
    bottom: 0px;
    border: 0px;
    width: 305px;
    height: 55px;
    cursor: pointer;
}

.cta-button-inner-2:hover {
    background-color: #F0E9E3;
    color: #C49686;
    box-shadow: 0px 0px 10px 2px #786761;
    transition-duration: 0.2s;
    font-size: 20px;
    font-family: Comfortaa;
    bottom: 0px;
    cursor: pointer;
}



  
.catalog-button-1 {
    border-radius: 20px;
    background-color: #C49686;
    color:#F0E9E3;
    /* padding: 11px 23px; */
    /* display: flex; */
    gap: 17px;
    /* padding-left: 50px;
    padding-right: 50px; */
    padding-top: 20px;
    padding-bottom: 22px;
    width: 386px;
    font-size: 20px;
    font-family: Comfortaa;
    border: 0px;
    cursor: pointer;

}


.catalog-button-1:hover {
    background-color: #F0E9E3;
    color: #C49686;
    box-shadow: 0px 0px 10px 2px #786761;
    transition-duration: 0.2s;
    font-size: 20px;
    font-family: Comfortaa;
    /* display: flex; */
    /* gap: 17px; */
    padding: 22px 19px;
    cursor: pointer;
}
  
.catalog-button-text {
    flex-grow: 1;
}



.catalog-button {
    border-radius: 20px;
    background-color: #c49686;
    display: flex;
    gap: 17px;
    padding: 22px 19px;
    align-items: center;
    color:#F0E9E3;
    font-size: 20px;
    font-family: Comfortaa;
    border: 0px;
    cursor: pointer;
}

.catalog-button:hover {
    background-color: #F0E9E3;
    color: #C49686;
    box-shadow: 0px 0px 10px 2px #786761;
    transition-duration: 0.2s;
    font-size: 20px;
    font-family: Comfortaa;
    /* display: flex; */
    /* gap: 17px; */
    padding: 22px 19px;
    cursor: pointer;
}
  
.catalog-button-text {
    flex-grow: 1;
}



.catalog-button-text {
    flex-grow: 1;
}

.catalog-button-icon {
    aspect-ratio: 1.72;
    object-fit: contain;
    width: 24px;
}



.custom-toy-button {
    border-radius: 20px;
    background-color: rgba(196, 150, 134, 1);
    margin-top: 59px;
    font-size: 21px;
    color: rgba(240, 233, 227, 1);
    text-align: center;
    padding: 16px 49px;
    border: none;
    cursor: pointer;
}