@font-face {
    font-family: Comfortaa;
    src: url('./fonts/Comfortaa.ttf') format('ttf');
}


p {
    font-family: 'Comfortaa';
    color: #786761;
    font-size: 30px;
}


.testimonials-title {
    color: rgba(120, 103, 97, 1);
    margin-top: 272px;
    font-weight: 700;
    font-size: 40px;
    font-family: Comfortaa;
}

.custom-toy-title {
    font-weight: 700;
    font-size: 40px;
    font-family: Comfortaa;
    align-self: stretch;
    color: #786761;
    margin-top: 0px;
    margin-bottom: 0px;
}