.fix_arrow {
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 1;
}

header {
    position: fixed;
    top: 0px;
    width: 100vw;
    min-width: fit-content;
}

.image_karusel {
    border-radius: 34px;
}







